@import "@skeletonlabs/skeleton/themes/theme-skeleton.css";
@import "@skeletonlabs/skeleton/styles/skeleton.css";

:root {
  --theme-font-family-base: "Inter", sans-serif;
  --theme-font-family-heading: "Inter", sans-serif;
}

#app {
  position: relative;
}

.input-no-arrow::-webkit-inner-spin-button,
.input-no-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-no-arrow {
  -moz-appearance: textfield;
}
